ocapi=https://api.ocp-eu2.prod.nextcle.com:6443
ocdomain=apps.ocp-eu2.prod.nextcle.com
occlusterid=5ee65450-6e18-46e4-bb6d-535a44ec33c4
ocnexus=nexus-common.apps.ocp-eu2.prod.nextcle.com
ocdevu=sangeet-prasad
ocdevp=e07269a951994ab0b653
gitu=sangeetprasad
gitp=LwBbD3s0v4Wg
quayu=sangeetprasad
quayp=39M$2y7x

