RHT_OCP4_MASTER_API=https://api.ocp-eu2.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-eu2.prod.nextcle.com
RHT_OCP4_CLUSTER_ID=5ee65450-6e18-46e4-bb6d-535a44ec33c4
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ocp-eu2.prod.nextcle.com
RHT_OCP4_DEV_USER=sangeet-prasad
RHT_OCP4_DEV_PASSWORD=e07269a951994ab0b653
RHT_OCP4_GITHUB_USER=sangeetprasad
RHT_OCP4_QUAY_USER=sangeetprasad
